In [149]:
#py_pandas_database_ops.ipynb
import numpy as np              
import pandas as  pd            
import matplotlib.pyplot as plt 
%matplotlib inline
import os
datafile='clean_polling_data.csv'

#useful if you want the directory this script is in
if '__file__' in dir():
    path, _=os.path.split(__file__)  
else: path=os.getcwd() 
    
filename=os.path.join(path, datafile)
df=pd.read_csv(filename, parse_dates=[0]) #dialect defaults to Excel
df.set_index('date', inplace=True)

In [150]:
#py_pandas_database_ops.ipynb
qpoll = df.query('poll=="Quinnipiac"')
rpoll = df.query('poll=="Rasmussen Reports"')

In [151]:
df.query('poll=="Quinnipiac" and spread < -17')

                  poll  size stype  approve  disapprove  spread
date
2017-04-03  Quinnipiac  1171    RV       35          57     -22
2017-03-21  Quinnipiac  1056    RV       37          56     -19

In [153]:
df.query('poll=="Gallup" and disapprove >= 55').\
          sort_values(by="approve")

              poll  size stype  approve  disapprove  spread
date
2017-03-28  Gallup  1500     A       35          59     -24
2017-03-21  Gallup  1500     A       40          55     -15

In [154]:
df.groupby(['poll']).mean()[:4]

                       size  approve  disapprove  spread
poll
ABC News/Wash Post  1004.00     42.0        53.0   -11.0
CBS News            1098.25     40.5        50.0    -9.5
CNBC                 804.00     39.0        48.0    -9.0
CNN/ORC             1013.50     44.5        52.5    -8.0

In [157]:
print("Total records:  ", df['poll'].count())
df.groupby('poll')['poll'].count()[:4]

Total records:   88

poll
ABC News/Wash Post    1
CBS News              4
CNBC                  1
CNN/ORC               2
Name: poll, dtype: int64

In [158]:
#py_pandas_database_ops.ipynb (cont)
col_index=['c1', 'c2', 'c3']
row_index=[1,2]
ff=pd.DataFrame([[11,12,13],[21,22,23]], 
                columns=col_index,
                index=row_index)
ff

   c1  c2  c3
1  11  12  13
2  21  22  23

In [159]:
col_index=['c2', 'c3', 'c4']
row_index=[2,3]
gf=pd.DataFrame([[11,12,13],[21,22,23]], 
                columns=col_index,
                index=row_index)
gf

   c2  c3  c4
2  11  12  13
3  21  22  23

In [206]:
horizontal=pd.concat([ff, gf], axis=1)
horizontal

     c1    c2    c3    c2    c3    c4
1  11.0  12.0  13.0   NaN   NaN   NaN
2  21.0  22.0  23.0  11.0  12.0  13.0
3   NaN   NaN   NaN  21.0  22.0  23.0

In [208]:
horizontal['c2']

     c2    c2
1  12.0   NaN
2  22.0  11.0
3   NaN  21.0

In [209]:
horizontal.columns=['c1_ff', 'c2_ff', 'c3_ff', 
                    'c2_gf', 'c3_gf', 'c4_gf']
horizontal['c2_ff']

1    12.0
2    22.0
3     NaN
Name: c2_ff, dtype: float64

In [213]:
vertical=pd.concat([ff, gf], axis=0)
vertical

     c1  c2  c3    c4
1  11.0  12  13   NaN
2  21.0  22  23   NaN
2   NaN  11  12  13.0
3   NaN  21  22  23.0

In [215]:
vertical['c1'][2]

2    21.0
2     NaN
Name: c1, dtype: float64

In [162]:
vertical.reset_index()

   index    c1    c2    c3
0      1    11    12    13
1      2    21    22    23
2      1  1100  1200  1300
3      2  2100  2200  2300

In [201]:
#py_pandas_database_ops.ipynb (cont)
poll_cols = ['poll', 'approve', 'disapprove']
poll_data = [['ABC News/Wash Post', 30, 60],
             ['CBS News',           35, 45],
             ['Breitbart',          90,  5],
             ['InfoWars',          200,  0]]
poll_df = pd.DataFrame(poll_data, columns=poll_cols)
poll_df

                 poll  approve  disapprove
0  ABC News/Wash Post       30          60
1            CBS News       35          45
2           Breitbart       90           5
3            InfoWars      200           0

In [198]:
eval_cols = ["org", "eval"]
eval_data = [['ABC News/Wash Post', 'SAD'],
             ['CBS News',           "FAILED!!"],
             ['Breitbart',          'Enlightened'],
             ['CNBC',               'Fake News!']]
eval_df = pd.DataFrame(eval_data, columns=eval_cols)
eval_df

                  org         eval
0  ABC News/Wash Post          SAD
1            CBS News     FAILED!!
2           Breitbart  Enlightened
3                CNBC   Fake News!

In [202]:
inner=pd.merge(left=poll_df, 
               right=eval_df, 
               left_on='poll', 
               right_on='org')
inner

                 poll  approve  disapprove                 org         eval
0  ABC News/Wash Post       30          60  ABC News/Wash Post          SAD
1            CBS News       35          45            CBS News     FAILED!!
2           Breitbart       90           5           Breitbart  Enlightened

In [203]:
left_outer=pd.merge(left=poll_df, right=eval_df, left_on='poll', 
                    right_on='org', how='left')
left_outer

                 poll  approve  disapprove                 org         eval
0  ABC News/Wash Post       30          60  ABC News/Wash Post          SAD
1            CBS News       35          45            CBS News     FAILED!!
2           Breitbart       90           5           Breitbart  Enlightened
3            InfoWars      200           0                 NaN          NaN

In [204]:
right_outer=pd.merge(left=poll_df, right=eval_df, left_on='poll', 
                     right_on='org', how='right')
right_outer

                 poll  approve  disapprove                 org         eval
0  ABC News/Wash Post     30.0        60.0  ABC News/Wash Post          SAD
1            CBS News     35.0        45.0            CBS News     FAILED!!
2           Breitbart     90.0         5.0           Breitbart  Enlightened
3                 NaN      NaN         NaN                CNBC   Fake News!

In [205]:
full_outer=pd.merge(left=poll_df, right=eval_df, left_on='poll', 
                    right_on='org', how='outer')
full_outer

                 poll  approve  disapprove                 org         eval
0  ABC News/Wash Post     30.0        60.0  ABC News/Wash Post          SAD
1            CBS News     35.0        45.0            CBS News     FAILED!!
2           Breitbart     90.0         5.0           Breitbart  Enlightened
3            InfoWars    200.0         0.0                 NaN          NaN
4                 NaN      NaN         NaN                CNBC   Fake News!

In [217]:
df.query("poll=='CBS News'").

                poll  size stype  approve  disapprove  spread
date
2017-04-09  CBS News  1006     A       43          49      -6
2017-03-28  CBS News  1088     A       40          52     -12
2017-02-21  CBS News  1280     A       39          51     -12
2017-02-02  CBS News  1019     A       40          48      -8

In [223]:
#py_pandas_database_ops.ipynb (cont)
pd.merge(left=df, right=eval_df, 
         left_on='poll', 
         right_on='org', 
         how='right').\
                       query("approve>40").\
                       groupby("poll").mean().\
                       sort_values(by=["spread", "size"])

                      size  approve  disapprove  spread
poll
ABC News/Wash Post  1004.0     42.0        53.0   -11.0
CBS News            1006.0     43.0        49.0    -6.0