In [4]:
#solution_dsci_chapter_07_machine_learning.ipynb

#the normal imports, etc.
import numpy as np              
import pandas as  pd            
import matplotlib.pyplot as plt 
%matplotlib inline
import os
datafile='earthquakes.csv'

#useful if you want the directory this script is in
if '__file__' in dir():
    path, _=os.path.split(__file__)  
else: path=os.getcwd() 
    
filename=os.path.join(path, datafile)

#pick off just the desired columns
df=pd.read_csv(filename, usecols=['depth', 'mag', 'place'])

#parse out the 'place' column 
df['place']=df['place'].astype(str)
df['place']=df['place'].str.split(',').str.get(1)
df['place']=df['place'].str.strip()
df['place']=df['place'].str.replace("CA", "California")

df.head(3)

ok = df.query("place=='Oklahoma'")
cal = df.query("place=='California' and depth>0")

quakes=pd.concat([ok, cal])                   #ok on top, then cal
quakes.reset_index(inplace=True, drop=True)   #make new (unique) index
quakes.head(2)

   depth  mag     place
0  6.125  2.5  Oklahoma
1  6.720  3.1  Oklahoma

In [5]:
quakes.tail(2)

     depth   mag       place
125   3.65  2.48  California
126  13.14  2.77  California

In [6]:
quakes.describe()

           depth         mag
count  127.00000  127.000000
mean     6.41948    2.835354
std      5.50168    0.362972
min      0.69000    2.450000
25%      3.12000    2.570000
50%      5.00000    2.730000
75%      6.89850    2.950000
max     37.62000    4.300000